<div class="site">
  <header class="masthead">
    <div class="masthead-inner">
      <h2 class="site-title">Finra's Broker-Dealer Regulated Firms Map</h2>
    </div>
  </header>
  <main id="content" class="main-content">
    <div id="gmp-map">
      <google-map
        height="100%"
        width="100%"
        [options]="options"
        (mapMouseout)="onMapMove()"
      >
        @for (location of locations; track location.id) {
        <map-advanced-marker
          #markerElem="mapAdvancedMarker"
          [position]="{ lat: location.lat, lng: location.long }"
          [content]="location.content"
          [title]="location.name"
          (mapClick)="onMarkerClick(markerElem)"
        />
        }
        <map-info-window #infoWindow></map-info-window>
      </google-map>
    </div>
  </main>

  <aside class="sidebar">
    <h3>Executives</h3>
    <div class="scroll-list">
      <ul>
        @for(exec of executives; track exec.id) {
        <li>
          <app-executive
            [executive]="exec"
            [selected]="selectedExec()?.id === exec.id"
            (select)="onSelectExec($event)"
          />
        </li>
        }
      </ul>
    </div>
    <div class="float-end">
      <button class="btn btn-sm btn-info" (click)="reset()">reset</button>
    </div>
    <h4>Biography</h4>
    <div class="event-abstract">
      <app-bio [executive]="selectedExec()" (unassign)="deselectExec()" />
    </div>
  </aside>
  <aside class="twin">
    <form (ngSubmit)="onSubmitQuery()">
      Filter results:
      <input name="query" [(ngModel)]="query" />
      <button type="submit" class="d-none">Submit</button>
    </form>
  </aside>

  <footer class="colophon grid">
    <aside>
      Content, layout, design:
      <a href="https://rankedchoices.com" target="_blank" rel="nofollow"
        >David Moritz</a
      >. Source data:
      <a
        href="https://www.finra.org/about/firms-we-regulate/broker-dealer-firms-we-regulate"
        target="_blank"
        rel="nofollow"
        >Firms Finra Regulates</a
      >
    </aside>
  </footer>
</div>
