<div class="site">
  <header class="masthead">
    <div class="masthead-inner">
      <h2 class="site-title">Finra's Broker-Dealer Regulated Firms Map</h2>
    </div>
  </header>
  <!-- .masthead -->

  <main id="content" class="main-content">
    <div id="gmp-map">
      <google-map height="100%" width="100%" [options]="options">
        @for (location of locations; track location.id) {
        <map-advanced-marker
          #markerElem="mapAdvancedMarker"
          [position]="{ lat: location.lat, lng: location.long }"
          [content]="location.content"
          [title]="location.name"
          (mapClick)="onMarkerClick(markerElem)"
        />
        }
        <map-info-window #infoWindow></map-info-window>
      </google-map>
    </div>
  </main>

  <aside class="sidebar">
    <h3 class="find-me">Executives</h3>
    <div class="scroll-list js-all-maps">
      <ul>
        @for(exec of executives; track exec.id) {
        <li>
          <app-executive
            [executive]="exec"
            [selected]="selectedExec?.id === exec.id"
            (select)="onSelectExec($event)"
          />
        </li>
        }
      </ul>
    </div>
    <h4>Biography</h4>
    <div class="js-event-abstract">
      @if (selectedExec) {
      <app-bio [executive]="selectedExec" />
      } @else {
      <p id="fallback">Select an executive to see their bio</p>
      }
    </div>
  </aside>
  <aside class="twin"></aside>

  <footer class="colophon grid">
    <aside>
      Content, layout, design:
      <a href="https://rankedchoices.com" target="_blank" rel="nofollow"
        >David Moritz</a
      >.
    </aside>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script src="./data.js?time=123490"></script>
    <script src="./clients.js?time=123490"></script>
    <script src="./app.js?time=1234903"></script>
  </footer>
</div>
<div
  class="modal modal-lg fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Contact your clients!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Here are the clients you currently have selected:</p>
        <ul id="clients-selected"></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          Send Message!
        </button>
      </div>
    </div>
  </div>
</div>
